!!! 5
%html(lang='en')
  %head
    %style(type='text/css')
      :plain
        body { 
          text-align: center; 
          margin: 20px 0; 
          background-color: #eee2d6;
          background-image: -webkit-gradient(linear, left center, right center, from(#EEE2D6), to(#E9CEBB));
          background-image: -moz-linear-gradient(left, #EEE2D6, #E9CEBB);
        }
        img { border: none; }
  %body{ :class => "#{controller.controller_name}" }

    = link_to image_tag('WCT_logo_rough.jpg'), "mailto:wild@wildcountrytech.co.uk?Subject=I%20would%20like%20to%20know%20more%20about%20Wild%20Country%20Tech"