@import "compass/css3";
@import "compass/utilities/general/min";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------

@mixin box($bg) {
  padding-top: 10px;
  padding-bottom: 10px;
  background: $bg;
  color: invert($bg);
  @include border-radius;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

body, select, input, textarea {
  color: $font-color;
  font-family: $base-font-family;
}

//Headers (h1, h2, etc) have no default font-size or margin; define those yourself
h1, h2, h3, h4, h5, h6 {
  // Bold might not be the best choice if you are
  // embedding a @font-face that's already bold
  font-weight: bold;
}

a, a:active, a:visited { color: $link-color; }
a:hover { color: $link-hover-color; }

strong, th {
  font-weight: bold;
}

small {
  // Use font-size mixin to convert to percentage for YUI
  // http://developer.yahoo.com/yui/3/cssfonts/#fontsize
  @include font-size(11px);  // approx 85% when base-font-size eq 13px
}

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid {}
input:invalid, textarea:invalid {
  @include border-radius(1px);
  @include single-box-shadow(red, 0, 0, 5px, 0);
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


//-----------------------------------
// Add your own custom styles below
//-----------------------------------

@import "960/grid";
@import "compass/layout/grid-background";
@import "compass/layout/sticky-footer";
$ninesixty_columns: 12;
$ninesixty_grid_width: 960px;
$ninesixty-gutter-width: 20px;

body { }

@include sticky-footer(65px, "#page", "#sticky-footer", "footer");

#page, footer {
  @include grid_container;
  
  @include column-grid-background(12,  
                                  ($ninesixty_grid_width / 12) - $ninesixty-gutter-width,
                                  $ninesixty-gutter-width);
}

#page, header, footer, #main {
  @include micro-clearfix;
}

header {
  nav ul li {
    @include grid(2);
    @include grid-push(1);
    @include box(#DC143C);
    margin-top: 30px;
    &.logo {
      @include box(#233232);
      margin-top: 10px;
      padding: 30px 0;
    }
    &.first { @include alpha; }
    &.last { @include omega; }
  }
}

div[role='main'] {
  .carousel {
    .arrow {
      @include grid(1);
      @include box(#228B22);
      color: white;
      margin-top: 10%;
      &.left { @include alpha; }
      &.right { @include omega; }
    }
    
    .project {
      @include grid(10);
      @include box(#FAFAD2);
      height: 200px;
    }
  }
  
  .boxes {
    .intro {
      @include grid(5);
      @include grid-push(1);
      @include alpha;
      @include box(red);
    }
    .contact {
      @include grid-push(1);
      @include grid(5);
      @include omega;
      @include box(#FFA07A);
    }
  }
}

footer {
  .copyright {
    @include box(#C71585);
    @include grid(4,12);
    @include alpha;
  }
  .contact {
    @include box(#C71585);
    @include grid(4);
    @include omega;
    @include grid-push(4,12);
  }
}