@import "compass/css3";
@import "compass/utilities/general/min";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------

@mixin box($bg) {
  padding: 0.5em 0;
  background: $bg;
  color: invert($bg);
  @include border-radius;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  @include font-size(20px); 
}

body, select, input, textarea {
  color: $font-color;
  font-family: $base-font-family;
}

//Headers (h1, h2, etc) have no default font-size or margin; define those yourself
h1, h2, h3, h4, h5, h6 {
  // Bold might not be the best choice if you are
  // embedding a @font-face that's already bold
  font-weight: bold;
}

a, a:active, a:visited { color: $link-color; }
a:hover { color: $link-hover-color; }

strong, th {
  font-weight: bold;
}

small {
  // Use font-size mixin to convert to percentage for YUI
  // http://developer.yahoo.com/yui/3/cssfonts/#fontsize
  @include font-size(11px);  // approx 85% when base-font-size eq 13px
}

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid {}
input:invalid, textarea:invalid {
  @include border-radius(1px);
  @include single-box-shadow(red, 0, 0, 5px, 0);
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


//-----------------------------------
// Add your own custom styles below
//-----------------------------------

body {
  background: darkgrey;
}

@import "960/grid";
$ninesixty_columns: 12;
$ninesixty_grid_width: 1024px;
$ninesixty-gutter-width: 20px;

#page {
  @include grid_container;
}

#page, header, footer, #main {
  @include micro-clearfix;
}

header {
  @include grid-prefix(1);
  ul li {
    @include grid(2);
    @include box(#DC143C);
    
    margin-top: 30px;
    &.logo {
      @include box(#233232);
      margin-top: 10px;
      padding: 30px 0;
    }
  }
}

#main {
  background: #fff;
  padding: 20px 0;
  .carousel {
    .arrow {
      @include grid(1);
      @include box(#228B22);
      color: white;
      margin-top: 10%;
    }
    
    .project {
      @include grid(10);
      @include box(#FAFAD2);
      height: 200px;
    }
  }
  
  .boxes {
    @include grid-prefix(1);
    @include grid-suffix(1);
    .intro {
      @include grid(5);
      @include box(red);
      height: 200px;
    }
    .contact {
      @include grid(5);
      @include box(#FFA07A);
      height: 200px;
    }
  }
}

footer {
  .copyright {
    @include grid(4);
    @include alpha;
    @include box(#C71585);
  }
  .contact {
    @include grid(4);
    @include grid_push(4);
    @include omega;
    @include box(#C71585);
  }
}